/**************************
BODY
**************************/

.body {
  &-container {
    @extend %clearfix;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 90px;
    background-color: $color-prim;
    border-top: 5px solid $color-ter;

    @media #{$brk-narrow} {
      padding-bottom: 60px;
    }

    @media #{$brk-wide} {
      width: 95%;
      border-top: 10px solid lightblue;
    }   
  }

  &-section-header {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 65px 0 30px 0;

    @media #{$brk-narrow} {
      margin: 40px 0 0 0;
      font-size: 13px;
    }

    @media #{$brk-wide} {
      margin: 80px 0 0 0;
      font-size: 20px;
    }
  }
}

.portfolio {
  &-image {
    padding: 55px 0 0 0;
    width: 90%;
    border-radius: $br;

    @media #{$brk-narrow} {
    width: 90%;
    padding: 50px 0 5px 0; 
    }

    @media #{$brk-wide} {
    padding: 50px 0 5px 0;   
    }
  }

  &-header {
    font-size: 26px;
    font-weight: 400;
    margin: 40px 0 30px 0;

    @media #{$brk-narrow} {
      font-size: 18px;
      font-weight: 400;
    }

    @media #{$brk-wide} {
      font-size: 26px;
      font-weight: 400; 
    }
  }

  &-content {
    width: 84%;
    margin: 0 auto;

    @media #{$brk-narrow} {
      width: 70%;
      margin: 0 auto;
      height: 66px; 
    }

    @media #{$brk-wide} {
      width: 77%;
      margin: 0 auto;
      height: 150px;  
    }
  }
}


.skills {
  background: $color-ter;
  border-top: 5px solid $color-text-base;
  border-bottom: 5px solid $color-text-mid;

  @media #{$brk-narrow} {
      border-top: 10px solid dimgrey;
      border-bottom: 10px solid silver;
  }

  &-image {
    padding: 55px 0 10px 0;
    max-height: 200px;
  }

  &-header {
    font-family: $stack-leaguegothic;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0 10px 0;
  }

  &-content {
    width: 80%;
    margin: 0 auto;
  }
}